@font-face {
  font-family: 'Carena';
  src: url('/fonts/carena.otf') format('opentype');
}

body {
  @apply text-textBlack bg-background box-border font-openSans;
}

h2 {
  @apply font-carena text-xl sm:text-2xl md:text-[32px] ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}